html {
  background: url("../public/baack.jpg") no-repeat center center/cover;
}

.loading,
.form,
.database,
.search,
.addplayer,
.homepage,
.navBar {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.carding img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.carding {
  display: grid;
  float: left;
  margin: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.952);
  border-radius: 10px;
  border: 1px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navBar:hover {
  color: green;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.pageNotFound {
  text-align: center;
  color: white;
}
